---

import MainGridLayout from '../layouts/MainGridLayout.astro'

import { getEntry } from 'astro:content'
import { i18n } from '../i18n/translation'
import I18nKey from '../i18n/i18nKey'
import Markdown from '@components/misc/Markdown.astro'
import Terminal from "@components/misc/Terminal.astro";
import AboutGallery from '@components/misc/AboutGallery.astro'
import LifePanel from '@components/misc/LifePanel.astro'
import Map from '@components/widget/Map.astro'
import SkillTreeCard from '@components/widget/SkillTreeCard.astro'

const aboutPost = await getEntry('spec', 'about')

const { Content } = await aboutPost.render()
---
<MainGridLayout title={i18n(I18nKey.about)} description={i18n(I18nKey.about)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full flex flex-col gap-8">
            <Markdown class="mt-2">
                <Content />
            </Markdown>

            <LifePanel />

            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
                <Map
                    name="Footprints"
                    hideAccent={true}
                    titleClass="text-base font-semibold"
                    class="border border-black/10 dark:border-white/10"
                />
                <SkillTreeCard
                    name="Skill Tree"
                    hideAccent={true}
                    titleClass="text-base font-semibold"
                    class="border border-black/10 dark:border-white/10"
                />
            </div>

            <div class="flex justify-center">
                <Terminal />
            </div>

            <AboutGallery />
        </div>
    </div>
</MainGridLayout>
